*{
    box-sizing: border-box;
}
.body{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.header{
    align-items: center;
    display: flex;
    padding-top: 20px;
    border-bottom: 20px;
    padding-left: 32px;
    padding-right: 70px;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 90;
    
}
.menu-button{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}
.menu-line{
    display: block;
    background: #1f2022;
    width: 20px;
    height: 3px;
    border-radius: 20px;
}
.input-group{
    border-radius: 22px;
    display: flex;
    background: #EBEBEB;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;

}
.logo{
    margin-right: 59px;
}
.input-search{
    width: 100%;
    border:none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
    padding-right: 23px;
    background-color: transparent;
}
.button-search{
    cursor: pointer;
    padding: 0;
    width: 19px;
    height: 19px;
    border:none;
    background-color: transparent;
}
.icon-search{
    fill: #000;
}

.icons-link{
    text-decoration: none;
    opacity: 0.24;
}
.icons-link:hover{
    opacity: 0.7;
}
.icons-link:not(:last-child)
{
    margin-right: 50px;
}
.user{
    margin-left: 45px;
}
.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}
.menu-icons{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.content{
    width: 100%;
    height: 400px;
    margin-top: 85px;
    padding-left: 13%;
    padding-top: 30px;
}
.sidebar{
    z-index: 90;
    position: fixed;
    left: 0;
    top: 114px;
    width: 12%;
    height: calc(100% - 114px);
    overflow-y: auto;
    padding-left: 32px;
    background-color: #fff;
}

.nav-menu{
    margin-top: 0;
    margin-bottom: 60px;
    padding-left: 0;
    list-style: none;
}
.nav-item{
    margin-bottom: 28px;
    color:#8989;
}
.nav-link{
    
    display: flex;
    align-items: center;
    color:#8989;
    text-decoration: none;
}
.nav-link:hover{
    color: red;
    
}
.nav-link:hover .icon{
    fill:red;
    
}
.nav-item .icon{
    fill: #8989;
}
.nav-text{
    margin-left: 13px;
    
}
.nav-img{
    width: 26px;
    height: 26px;
    border-radius: 50px;
}
.nav-title{
 font-weight: bold;
 font-size: 18px;
 line-height: 23px;
 margin-bottom: 30px;
}

.channel-title{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #19202C;
    font-weight: bold;
    font-style: 26px;
    line-height: 33px;    
    width:80%;
    margin-bottom: 30px;
}
.recommended-title{
    font-style: 26px;
    line-height: 33;
}
.channel-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.channel-text{
 margin-left: 20px;
}
.video-thumb{
    width: 100%;
    height: 150px;
    overflow:hidden;
    position: relative;
}
.thumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    
}
.video-duration{
    cursor: default;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,0.3);
    mix-blend-mode: normal;
    font-size: 14px;
    line-height: 18px;
    color: white;
    padding: 3px 9px;
    border-radius: 12px;
}
.video-title
{
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #19202C;
margin-top: 10px;
margin-bottom: 4px;
}
.video-info{
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
    justify-content: space-between;
}
.video-counter{
    display: flex;
   
}
.video-card{
    width: 250px;
}
.video-views{
    margin-right: 5px;
  
}
.video-views:after{
    content:"";
    width: 2px;
    height: 2px;
    background-color: #C2C2C2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.channel-button{
    cursor: pointer;
}
.slider-buttons{
    position:absolute;
    
    right: 8%;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;
}
.channel{
    margin-bottom: 49px;
    position: relative;
}
#vid {
    width: 440px;
    height: 300px;
}
.video-thumbrec{
    width: 500px;
    height: 250px;
    overflow:hidden;
    position: relative;
}
.video-cardrec{
    width: 250px;
}
.thumbnailrec{
    width: 500px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}

.rec-channel-slider .video-card{
    width: 500px;
    
}
.rec-channel-slider .video-thumb {
    width: 500px;
    height: 250px;

}
.rec-channel-subtitle{
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #C2C2C2;
    margin-left: 19px;
}
.rec-channel-subtitle{
    display: flex;
}
.video-channel-subtitle{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    /* identical to box height */
    
    
    color: #19202C;
}
.Subscribe{
    background: #FF0000;
border-radius: 20px;
padding: 10px 20px;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
color:#FFFFFF;
border:none;
}
.channel-header{
    justify-content: space-between;
    display: flex;
    align-items:center;
    margin-bottom: 30px;
    padding-right: 7.6%;
    
}
/*.sliders-buttons{
    position:absolute;
    
    right:4%;
    bottom: 150px;
    display: flex;
   
    justify-content: space-between;
    width: 66px;
}*/
    .sliders-buttons{ 
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 66px;  
        margin-left: 40px;
    }
